.section{
    background-color: #C7D2EC;
    color: #BE1922;
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 34px;
    padding-bottom: 20px;
    border-radius: 30px;
    
   
}

.section-space{
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
}

.section-content{
    color: black;
}

.contact-form{
    
    padding-right: 34px;
}